

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.active a:link, .active a:visited, a.active:link, a.active:visited {
	color:#d00f1c;
}

.container {
	margin-top:40px;
}

/* tables and definition lists
================================================== */

table, td {margin:0; padding:10px 0; vertical-align:middle;}

table {margin-bottom:20px;}


dl dd, dl dt {
	margin:5px 0;
	padding:5px 0;
	border-bottom:1px dotted #ddd;
}


/* #Category Icons 
================================================== */

.vi, .forum, .page, .shop, .news  {
	padding-left:70px;
	background:url(/static/images/vi.png) top left no-repeat;
	height:70px;
	line-height:77px;
}

.forum {
	background:url(/static/images/forum.png) top left no-repeat;
}

.page {
	background:url(/static/images/page.png) top left no-repeat;
}

.shop {
	background:url(/static/images/shop.png) top left no-repeat;
}

.news {
	background:url(/static/images/news.png) top left no-repeat;
}

/* #Main Navigation 
================================================== */

.nav {
	position:fixed;
	margin-top:42px;
	/*background:#fff;*/
	z-index:10;
}

.nav ul {
	margin-bottom:5px;
	margin-top:5px;
	width: 177px;
}

.nav li {
	margin-bottom:0px;	
}

.nav a {
	padding:10px 0 10px 16px;
	text-decoration:none;
	border-bottom:1px solid #ddd;
	width:100%;
	display:block;	
}

.nav a:hover, .footer li a:hover {
	background:url(/static/images/nav_hover.png) center left no-repeat;
}

.nav .locked {
	padding:10px 0 10px 16px; 
	background:url(/static/images/locked.png) center left no-repeat; 
	border-bottom:1px solid #ddd;
	width:100%;
	display:block;
}


/* #Footer
================================================== */

.footer li a, .footer li a:link, .footer li a:visited {
	padding-left: 16px;
	margin-left:-16px;
	text-decoration:none;
}

.totop {
	z-index:100;
}

.footer li a.totop:hover, .footer li a.totop:active {
	background:none;
}

a.copyheart {
	font-size:.7em;
	margin-bottom: 30px;
	text-decoration:none;
	display:block;
}

a.copyheart:hover  {
	color:#d00f1c;
}


/* #Shop
================================================== */
.teaserimage {margin-bottom:30px;}

.square li strong, .readon {
	margin-bottom:15px;
	display:block;
}

.readon {font-size:.8em;}

.square li {
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px dotted #ddd;
}
table.bestelltable tr{width:100%;}

table.bestelltable th,
table.bestelltable td{width:145px;text-align:right;}

table.bestelltable th:first-child,
table.bestelltable td:first-child{text-align:left;}

table.bestelltable th{border-bottom:1px solid #ddd;}

table.bestelltable tfoot {border-top: 1px solid #ddd}

/* Forum: threads and posts
================================================== */


.threadlist table, .postlist table, tr, thead, tbody, tfoot {width:100%; display:block;}

.threadlist table, .postlist table {
}

.threadlist tr, .postlist tr{
	background:#f3f3f3;	
	border-bottom:1px solid #fff;
	box-shadow:2px 2px 3px #eee;	
}

.threadlist tbody tr:nth-child(even), .postlist tbody tr:nth-child(odd) {
	background:#fbfbfb;
	border-bottom:1px solid #d00f1c;
	margin-bottom:10px;
}

.threadlist td, .postlist td {
		padding:7px;
}

.threadlist thead tr, .postlist thead tr {
	background:#d00f1c;
}

.threadlist thead th, .postlist thead th {
	color:white; 
	text-align:left;
	padding:7px;
	font-weight:bold;
}

.threadlist tfoot tr,
.threadlist tfoot tr a,
.postlist tfoot tr,
.postlist tfoot tr a {
	background:#d3d3d3;
	color:#fff;
	font-weight:bold;
	border:0;
}

.postlist img {
	border:1px solid #ccc;
}

#mceEditordescr, #dynabone_name {width:340px;}

.locked {padding-left:16px; background:url(/static/images/locked.png) top left no-repeat; }

/* #Dynaforms
================================================== */

.viur_textinput {
	width:100%;
}

.td_formdescr {
	width:160px;
	margin-left: 10px; margin-right: 10px; 
}

.ui-icon-check {
    background-image: url(/resources/ops/icons/actions/accept.png) ;
    background-size: 100%;
    width: 32px;
    height: 32px;
    float: left;
}

.ui-icon-alert {
    background-image: url(/resources/ops/icons/actions/delete.png) ;
    background-size: 100%;
    width: 32px;
    height: 32px;
    float: left;
}

#password_bone_repeat {
    float: left;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	.container {
		margin-top:20px;
	}
	
	.nav {
		margin-top:36px;
		background:#fff;
		font-size:.85em;
	}
	
	.nav ul {
		margin-bottom:0px;
		margin-top:0px;
		width: 130px;
	}
	
	.nav a {
		padding:13px 0 13px 16px;
	}
	
	.content {
		font-size:.95em;
	}
	
	.footer {
		font-size:.85em;
	}

	
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	h1 {
		font-size:1.5em;
	}
	
	.sidebar, .sidebar .alpha.three.columns, .footer {
		width:100%;
		margin-top:0;
		text-align:center;
	}
	
	.sidebar {
		border-bottom:2px solid #d00f1c;
	}
	
	.nav a:hover, .footer li a:hover, .nav a:active, .footer li a:active {
		background-image:none;
		margin-left:0;
	}
	
	.nav, .footer ul, .footer .columns {
		position:relative;
		margin:0 0 50px;
		height:auto;
		background:#333;
		font-size:1.4em;
		margin-bottom:0;
	}	
	
	.nav ul, .footer ul, .footer ul a, .footer .twelve.columns, .footer .four.columns, .footer .three.columns, .footer .two.columns {
		margin:0;
		width:100%;
		display:block;	
	}
	
	.nav a, .footer li a, .nav a:link, .footer li a:link, .nav a:visited, .footer li a:visited {
		padding:13px 0;
		color:#ddd;
		border-bottom:1px solid #222;
		margin-left:0;
	}
	
	.nav ul li a, .footer ul li ul li a, .nav ul li a:link, .footer ul li ul li a:link, .nav ul li a:visited, .footer ul li ul li a:visited {
		background:#444;
		border-bottom:1px solid #444;
	}		

	.nav a:hover, .nav a:active, .footer li a:hover, .footer li a:active {
		background:#222;
		border-bottom:1px solid #111;
	}
	
	.footer {
		border-top:2px solid #d00f1c;
		font-size:.5em;
	}
	
	.footer hr {
		visibility:hidden;
		position:absolute;
		border:0;
	}
	
	.footer li {
		margin-bottom:0;
	}
	
	.footer ul li ul li a, .footer ul li ul li a:link, .footer ul li ul li a:visited {
		font-size:.7em;
	}
	
	.footer strong {
		color:#fff;
		font-weight:normal;
	}
	
	.footer .two.columns .totop {
		width:auto;
		position:absolute;
		z-index:100;
		background:none;
		border:0;
		padding:0;
		margin-top:0px;
	}
	
	.totop img {
		margin-left:30px;
		margin-top:-2px;
	}
		
	a.copyheart {
		color:#777;
	}
	
	.mobileborder {
		border-top:1px solid #ddd;
		margin-top:30px;
		padding-top:20px;
	}
	
	}

	

	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
	h1 {
		font-size:1em;
	}
		
	#mceEditordescr, #dynabone_name {width:210px;}	
		
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

