{%- set modulConfig={
		'news_category': {'handler': 'base', 'name':'News-Categories','icon': 'icons/modules/categories.png'},
		'news': {'handler': 'base', 'name':'Newsentries', 'icon': 'icons/modules/news.png'}
		}
-%}

##macro hint(status)
<div style=" border-bottom: 1px dotted #ccc; padding-bottom: 65px; margin-bottom: 20px;">
    <img style=" float: left; width: 40px;" src="/resources/ops/images/icons/action/hint-{{status}}.svg" />
    <span class="menuleft_name">
        ##if status=='negative'
            {{_('Problem')}}
        ##elif status=='positive'
            {{_('Success')}}
        ##else
            {{_('Information')}}
        ##endif
    </span>
</div>
##endmacro

##extends "ops/basic.html"

	##block iconnav_files

	##endblock
	##block iconnav_user

	##endblock
	##block iconnav_controls

	##endblock


	##block menuleft

	##endblock
