{% extends "index.html" %}

 {% block headline %}
	<h1 class="remove-bottom forum">
	You started a new thread!  
    </h1>
    {% endblock %}

{% block content %}

	
		
<div class="nine columns alpha"> 
<p><strong>Thank you for posting!</strong> <br /> Hopefully a great discussion will start soon!</p></div>
<div class="right three columns omega"> 
  <a class="button"  href="/forum/" title="Back to Forums">
			Back to Forums
			</a>
	</div>
			
{% endblock %}
