{% set thisPage="kontakt" %}
{% set pagetitle="The best way to get in touch with us!" %}
{% extends "formmailer_frame.html" %}
{% from "dynaform.macro" import render_dynaform %}

{% block Formcontent %}

	<div class="six columns offset-by-one alpha">

        <p>
           You can easily get in touch with us.<br />
           Feel free to write a message!
           <br />
        </p>
            <ul class="vcard">
            <li class="fn">Your Name</li>
			<li class="adr"><span class="street-address">Viurstreet</span><br /><span class="postal-code">12345</span> <span class="locality">Viurcity</span><br /></li>
            <li class="email"><a href="mailto:yourname@email.de">yourname@email.de</a></li>
            <li class="url"><a href="http://www.yourdomain.de" title="yourdomain">www.yourdomain.de</a></li>
            </ul>

        


<form name="bestform" action="/contact/add" method="POST">
    <table>

					{{ render_dynaform( skel ) }}
    </table>
<input type="submit" value="Send" />	
</form>

<div>
  		* Required
</div>

    </div>	

{% endblock %}
