{% set thisPage="kontakt" %}
{% set pagetitle="Kontakt" %}
{% extends "formmailer_frame.html" %}
{% from "dynaform.macro" import render_dynaform %}
{% from "ordersteps.macro" import showsteps %}

{% block Formcontenet %}
<h1>Thank you for your message!</h1><br>

	Your successfully contacted us.<br>We strive to provide a quick response.
		<br>
		<br>
	Your ViUR team

        <p>&nbsp;</p>
<div id="navcontainer_paginierung">
		<ul id="navlist">
                    <li><a href="/index" title="Back">Back to the start page</a></li>
		</ul>
	</div><!-- /navcontainer_paginierung -->




			
{% endblock %}
