
{% extends "index.html" %}

{% block headline %}
	<h1 class="remove-bottom vi">
    Contact 
    </h1>
    {% endblock %}
{% block content %}
	<div id="big_image_wrapper">
		<div id="big_image"></div>
    	<div id="big_image_blende"></div>
	</div><!-- big_image_wrapper -->
    <div class="clear">&nbsp;</div>


	<div id="content_txt">
    {% block Formcontent %}

	
		</ul>
	</div><!-- /navcontainer_paginierung -->
	{% endblock %}
	</div><!-- /content_txt -->

{% endblock %}

