##if  requestParams().style and requestParams().style=="embed"
##else
{% extends "index.html" %}
	{% block headline %}
	<h1 class="remove-bottom forum">
    Forum
    </h1>
    {% endblock %}
##endif
{% block content %}

<h3 class="ten columns alpha offset-by-one">Start New Thread</h3>
{% from "dynaform.macro" import render_dynaform %}

<form class="ten columns alpha offset-by-one" action="/forum/addThread" method="POST">
	<table border="0">
		{{ render_dynaform( skel ) }}
	</table>
    <div class="alpha right ten columns">
    <input type="submit" />
    </div>
</form>
{%endblock%}