<ul>
	{% for skel in skellist %}
		{% if canView( skel.id ) %}<li><a href='/forum/viewForum?forumid={{skel.id}}'>{{skel.name}}</a></li>{%else%}<li class="locked">{{skel.name}}</li>{%endif%}
	{% endfor %}
</ul>
	
