{% set activeitem="forum" %}
{% if  requestParams().style=="subforum" %}
	<ul>
		{% for skel in skellist %}
				{% if canView( skel.id ) %}<li><a href='/forum/viewForum?forumid={{skel.id}}'>{{skel.name}}</a></li>
				<li>{{ execRequest("forum/list", skel.id,style="subforum") }}</li>{%endif%}
		{% endfor %}
	</ul>
{% else %} {# Render the top of the list #}
	{% extends "index.html" %}
  	{% block headline %}
	<h1 class="remove-bottom forum">
    Forum
    </h1>
    {% endblock %}

	{% block content %}
    <p>The ViUR Forum Modul is the first forum for the <strong>Google</strong> App Engine™ plattform. It features the core structures of every forum: boards, threads and posts.</p>
                <hr />

    <h3>Listed Boards</h3>
		<ul class="square">
			{% for skel in skellist %}
			{% if canView( skel.id ) %}<li><a href='/forum/viewForum?forumid={{skel.id}}'><strong>{{skel.name}}</strong></a>{{skel.descr}}</li>{%else%}<li class="locked"><strong>{{skel.name}}</strong>{{skel.descr}}</li>{%endif%}
				{% if canView( skel.id ) %}{{ execRequest("forum/list", skel.id,style="subforum") }}{% endif %}
			{% endfor %}
		</ul>
        
	{%endblock%}
{% endif %}

