{% set activeitem="forum" %}
{% if  requestParams().style != "embed" %}
	{% extends "index.html" %}
	
    {% block headline %}
	<h1 class="remove-bottom forum">
    ##if skellist 
    {{skellist[0].forum.name}}
   	##endif
    </h1>
    {% endblock %}
{% endif %}
 
{% block content %}
	<div class="ten columns alpha offset-by-one threadlist">
    <table class="">
			<thead>
				<tr width="100%">
					<th colspan="2">Listed Threads</th>
				</tr>
			</thead>
			{%for skel in skellist%}
				<tr>
					<td>
						<a href="/forum/viewThread?threadid={{skel.id}}"><strong>{{skel.name}}</strong></a><br>
					</td>
                    <td>
                    	
                    </td>
				</tr>
				<tr>
                	<td colspan="2">
                    						{{skel.descr|truncate(40,false,"&hellip;")}}
					</td>
                </tr>
    		{% endfor %}
            
            <tfoot>
            <tr>
            <td colspan="2">
            Pages: 
            {% for page in pages %}
		{% if requestParams()["page"]|string==loop.index0|string or (not  requestParams()["page"] and loop.index|string=="1") %}
			{% set isCurrentPage = True %}
		{% else %}
			{% set isCurrentPage = False %}
		{% endif %}
			<a href="{{modulPath()}}/viewForum?forumid={{requestParams()["forumid"]|e}}&page={{loop.index0}}">{% if isCurrentPage %}<strong>{{loop.index}}</strong>{% else%}{{loop.index}}{%endif%}</a>
		{% endfor %}
        </td></tr>
        </tfoot>
		</table>
	</div>	        <hr />
		{% if canAddThread( requestParams()["forumid"] ) %}
			{{ execRequest("forum/addThread", style="embed", nomissing="1", forum=requestParams()["forumid"]) }}
		{% endif %}
	
{% endblock %}
