{% set activeitem="forum" %}
{% if  requestParams().style != "embed" %}
	{% extends "index.html" %}


	{% block headline %}
	<h1 class="remove-bottom forum">
       ##if skellist 
    {{skellist[0].name}}
   	##endif
</h1>
    {% endblock %}
{% endif %}
    

{% block content %}

	<div class="ten columns alpha offset-by-one postlist">
		<table>
				{%for skel in skellist%}
				##if loop.first
    		<thead>
				<tr>
					<td width="10%">
                    <img width="32" height="32" src="{{ getGravatarImage(skel.user ) }}" />
                    </td>
                    <th width="70%">{{skel.name}}</th>
                    <th width="20%" class="smalltxt">
                    {{skel.creationdate}}
                    </td>
				</tr>
			</thead>
            	##else
				<tr>
                    <td width="10%">
                    <img width="32" height="32" src="{{ getGravatarImage(skel.user ) }}" />
                    </td>
                    <td width="70%">
						<strong>{{skel.name}}</strong><br>
					</td>
                    <td width="20%" class="smalltxt right">
                    {{skel.creationdate}}
                    </td>
                </tr>
                ##endif
                <tr>
                    <td colspan="3">
                    						{{skel.descr}} 
								
					</td>
				</tr>
			{% endfor %}
            
             <tfoot>
            <tr>
            <td colspan="3">
            Pages: 
            {% for page in pages %}
		{% if requestParams()["page"]|string==loop.index0|string or (not  requestParams()["page"] and loop.index|string=="1") %}
			{% set isCurrentPage = True %}
		{% else %}
			{% set isCurrentPage = False %}
		{% endif %}
			 <a href="{{modulPath()}}/viewThread?threadid={{requestParams()["threadid"]|e}}&page={{loop.index0}}">{% if isCurrentPage %}<strong>{{loop.index}}</strong>{% else%}{{loop.index}}{%endif%}</a>&nbsp;
		{% endfor %}
        </td></tr>
        </tfoot>
		</table>
        
      </div>
        <hr />
		{% if canAddPost( requestParams()["threadid"]|e ) %}
			{{ execRequest("forum/addPost", style="embed", thread=requestParams()["threadid"]|e, nomissing=1) }}
		{% endif %}
{% endblock %}
