<!doctype html>
## from "utils.macro" import code
## from "mainmenu.macro" import menu
##if not activeitem
	{%- set activeitem="ViP" -%}
## endif

{%-macro formatdate_only (value)-%}
{%- if value|string!='None' -%}
{{value.strftime("%d.%m.%Y")}}
{%- else -%}
00.00.0000
{%- endif -%}
{%-endmacro-%}

<!--[if IEMobile 7 ]><html class="no-js iem7" manifest="default.appcache?v=1"><![endif]-->
<!--[if lt IE 7 ]> <html dir="ltr" lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html dir="ltr" lang="en" class="no-js"><!--<![endif]-->

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <meta charset="utf-8">

    <!-- A hearty welcome to -->
    	<title>ViProject &ndash; A ViUR demonstration site</title>
        
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="robots" content="index,follow"/>


    <!-- This website is a ViUR Information System. -->
	    <meta name="generator" content="www.viur.is" />
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Originally made with love by Mausbrand. -->
        <!-- www.mausbrand.de -->     
        <!-- Feel free to remove these lines. --> 
        <link type="text/plain" rel="author" href="/static/meta/humans.txt" />

    <!-- icons -->
    	<link rel="shortcut icon" href="/static/meta/favicon.ico">
    	<link rel="apple-touch-icon" href="/static/meta/apple-touch-icon-precomposed.png">
    	<link rel="apple-touch-icon" sizes="72x72" href="/static/meta/apple-touch-icon-72x72-precomposed.png">
    	<link rel="apple-touch-icon" sizes="114x114" href="/static/meta/apple-touch-icon-114x114-precomposed.png">
    
    <!-- mobile -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
    	<meta name="apple-mobile-web-app-status-bar-style" content="red" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- iPhone SPLASHSCREEN-->
        <link href="/static/meta/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
        <!-- iPhone (Retina) SPLASHSCREEN-->
        <link href="/static/meta/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
        <!-- iPad (portrait) SPLASHSCREEN-->
        <link href="/static/meta/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
        <!-- iPad (landscape) SPLASHSCREEN-->
        <link href="/static/meta/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
        <!-- iPad (Retina, portrait) SPLASHSCREEN-->
        <link href="/static/meta/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
        <!-- iPad (Retina, landscape) SPLASHSCREEN-->
        <link href="/static/meta/apple-touch-startup-image-1496x2048.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    	
    <!-- opengraph -->
    	<meta property="og:site_name" content="" />  
    	<meta property="og:description" content="" />  
    	<meta property="og:type" content="website" />  
    	<meta property="og:image" content="/static/meta/opengraph-image.png" /> 
	
    <!-- css -->
    <!-- running on a beautiful boilerplate for responsive, mobile-friendly development: Skeleton -->
    <!-- visit: getskeleton.com -->
    	<link rel="stylesheet" href="/static/css/style.css">
    
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
    <!-- js -->
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
##block additionalhead
##endblock
    </head>

    <body>
    <div class="container sidebar">

		<div class="alpha three columns">
    		{{menu(activeitem)}}
		</div>
    
    </div><!-- container sidebar -->
        
    <div class="container content">
   
				<div class="twelve columns offset-by-four">
		       
                {% block headline %}
				<h1 class="remove-bottom vi">
                Hello Viurld!
                </h1>
		       	{% endblock %} 

				                <hr />

                {% block content %}
  
    			<p><strong>ViUR</strong>, the information system for <strong>Google App Engine™</strong>, is a <span title="framework">sandbox</span> for designers and developers. With the help of ViUR you can easy build web applications running on Google's infrastructure. It speeds up developement of modules and enhances flexible and agile projects. ViURs automatically generated interfaces further speed up developement. </p>
                
                <hr />

					## set news=getList("news",**{"orderby":"creationdate","orderdir":"1","active":"1"})
					
					<h3>News</h3>
					
					##if news
						##set n=news[0]
						##if n.image
						<div class="four columns alpha" ><a href="/news/view/{{n.id}}"><img width="100%" height="auto" src="{{n.image.servingurl}}=s256-c" alt="teaser image"  class="teaserimage" /></a></div>
						<div class="eight columns omega">
                        <h4>{{n.name}}</h4>
						##else
                        <div class="twelve columns">
						<a href="/news/view/{{n.id}}"><h4>{{n.name}}</h4></a>
						##endif
						<p>{{n.teaser}}</p>
                        <a href="/news/view/{{n.id}}" class="readon">read on &hellip;</a>
                        </div>
				 ##endif
        		
                <hr />

        		<div class="six columns alpha ">
					<h4>Further News</a></h4>

				 ##if news and news|length>1
					<ul class="square">
						##for n in news
							##if loop.index>1
								<li><strong><a href="/news/view/{{n.id}}/{{n.name}}">{{n.name}}</a></strong>{{n.teaser}}</li> 
							##endif
						##endfor
					</ul>
                    ##else
                    <p>No further news available.</p>
					##endif
					<a href="/news/list?orderby=creationdate&orderdir=1" class="readon">Older news &hellip;</a>
				</div>
		                
				<div class="six columns omega mobileborder">                
                    <h4>Help from above!</h4>
					<p>To get started with ViUR check out the documentation at <a href="http://www.viur.is">www.viur.is</a>. ViUR is open-source and has a <a href="https://bitbucket.org/viur/">project on bitbucket</a>. Feel free to check it out, report bugs or create a pull request. If you have any questions, thoughts, concerns or feedback, please don't hesitate to contact us via <a href="mailto:hello@viur.is">email</a> or follow us on <a href="http://www.twitter.com/weloveViUR">twitter</a>.</p>
                 
				</div>       

				{% endblock %}

			</div><!--twelve columns offset-by-four-->

    </div><!-- container content -->    
    
    
    <div class="container footer">


                <div class="twelve columns offset-by-four">
                                    				<hr />
            
                            <ul class="alpha two columns">
                            
                                                        <li><a class="totop" href="#top"><img src="/static/images/up.png" alt="to the top" title="to the top" width="50"/></a></li>

                                
                            </ul>

                            <ul class="two columns">
                                <li><a href="/"><strong>ViProject</strong></a></li>
                                <li><a href="/site/contact">Contact</a></li>
                                <li><a href="/site/imprint">Imprint</a></li>
                                {% if getCurrentUser() %}
				  <li><a href="/user/logout?skey={{getSecurityKey()}}">Logout</a></li>
                                {% else %}
				  <li><a href="/user/login">Login</a></li>
				  <li><a href="/user/add">Register</a></li>
                                {% endif %}

                            </ul>

                            <ul class="four columns">
	
                               {% for page in execRequest("page/pathToKey") %}  {# toplevel #}
			{% set subpages = getList("page", parententry=page.id ) %}
			<li class="{% if activeitem==page.id%}active{%endif %} {%if subpages%}has-sub{%endif%}"><a href='/page/view/{{page.hrk}}'>{{page.name}}</a>
				{% if subpages %}
					<ul>
						{% for subpage in subpages  %}
							<li><a href='/page/view/{{subpage.hrk}}'>{{subpage.name}}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
                            </ul>

                            <ul class="four columns omega">
                             	
								<li {% if activeitem=="news"%} class="active" {%endif %}><a href='/news/list?orderby=creationdate&orderdir=1'>News</a>
    							<li {% if activeitem=="shop"%} class="active" {%endif %}><a href='/product/'>Shop</a></li>
								<li class="{% if activeitem=="forum"%}active{%endif %} has-sub"><a href='/forum'>Forum</a>
									<!-- Include a list of all top-level forums here. See forum_list_embed.html for more -->
									{{ execRequest("forum/index", style="embed") }}
								</li>
                                

                            </ul>
				<hr />

				<a class="copyheart" href="http://copyheart.org" title="copyheart">♡2012 by Mausbrand. Copying Art is an act of love. Please copy and share.</a>
                
                </div>

	</div><!-- container footer -->


    <!-- HTML5 Shiv -->
    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

    <!-- Infield Label -->
    	<script src='/static/js/jquery.infieldlabel.js'></script>

    <!-- Modernizr -->
    	<script src="/static/js/modernizr-1.7.min.js"></script>

	<!-- google analytics (UA-XXXXX-X has to be changed) -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
	
    <!-- Zeitreise. -->
    
</body>

</html>

