{% set activeitem="news" %}
{% extends "index.html"%}

{% block headline %}
<h1 class="remove-bottom news">
    News
    </h1>
    {% endblock %}

{% block content %}
	##for n in skellist
	##if n.image						
    <div class="three columns alpha">
   	<img src="{{n.image.servingurl}}=s130-c" width="100%" height="auto" alt="teaser image" class="teaserimage"/>								
	</div>
    <div class="seven columns">
	##else
    <div class="ten columns alpha">
    ##endif	
		<h3>{{n.name}}</h3>
		<em>{{formatdate_only(n.creationdate)}}</em><br/>
		<p>{{n.teaser}}</p> 		
	</div>
    <a class="two columns omega readon" href="/news/view/{{n.id}}/{{n.name}}">read on &hellip;</a>
    <hr style="border-style:dotted" />
	##endfor
	More news to come!
{% endblock %} 