{% extends "index.html"%}

  	{% block headline %}
	<h1 class="remove-bottom news">
    {{skel.name}}
    </h1>
    {% endblock %}

{% block content %}		

<div class="four columns alpha">

	##if skel.image
		<img width="100%" height="auto" src="{{skel.image.servingurl}}=420" alt="Teaserimage" />
	##endif
</div>

<div class="eight columns omega">
<em>{{formatdate_only(skel.creationdate)}}</em><br/>
{{ skel.descr }}
</div>
{% endblock %}