{% extends "index.html" %}
{% set activeitem = "shop" %}
{% from "dynaform.macro" import render_dynaform %}

{# Warning!!! Dependent on the payment-provider, the user might never see this last page!!! #}

 {% block headline %}
	<h1 class="remove-bottom shop">
	Thank you for your order!    
    </h1>
    {% endblock %}

{% block content %}

	
		
<div class="nine columns alpha"> 
<p><strong>Thank you for your order!</strong> <br /> We will send to you an email to confirm the details of your order.</p></div>
<div class="right three columns omega"> 
  <a class="button"  href="/product/" title="Continue Shopping">
			Continue Shopping
			</a>
	</div>
			
{% endblock %}
