{% extends "index.html" %}
{% set activeitem = "shop" %}
{% from "ordersteps.macro" import showsteps %}

 {% block headline %}
	<h1 class="remove-bottom shop">
	Your Order: Overview
    </h1>
    {% endblock %}

{% block content %}

		{% set billContents = execRequest("order/getBillItems", skel.id ) %}
        <table class="ten columns offset-by-one alpha bestelltable">
			<thead>
				{#<th>Pos</th>#}
                                <th><strong>
											description
								</strong></th>
				<th><strong>
							price per item
						
				</strong></th>
				<th><strong>
			amount
		
				</strong></th>
				<th><strong>
			sum
		
				
				</strong></th>
			</thead>
			{% set mwst = {} %}
			{% for line in billContents %}
				<tr>
					{#<td>{{ loop.index }}</td>#}
					<td>{{ line[1] }}</td>
					<td>{{ "%.2f"|format(line[2])|replace(".",",") }} EUR</td>
					<td> {{ line[0] }} </td>
					<td>{{ "%.2f"|format(line[3])|replace(".",",") }} EUR</td>
				</tr>
				{% if line[4] %}
					{% if not line[4] in mwst.keys() %}
						{% set noop = mwst.update( { line[4]: [] } ) %}
					{% endif %}
					{% set noop = mwst[ line[4] ].append( line[3]|float-line[3]|float/(1.0+(line[4]|float*0.01) ) ) %}
				{% endif %}
				
			{% endfor %}
				<tfoot><tr>
                                    <td>
										<strong>Type of payment:</strong>
									</td>
									<td>bank-transfer</td>
                                    <td>
									
												<strong>Sum incl. tax</strong>
												</td>		
									
                                    <td><b>{{"%.2f"|format(skel.price)|replace(".",",")}} EUR</b></td>
					
				</tr>
			{% for key,values in mwst.items() %}
                                <tr>
                                    <td>&nbsp;</td>
									<td>&nbsp;</td>
			                        <td>included tax {{"%.0f"|format(key|float)}}%</td>
                                    <td>{{"%.2f"|format(values|sum)|replace(".",",")}} EUR </td>
		

				</tr>
			{% endfor %}
			</tfoot>
		</table>

		<br clear="all">

			<div class="alpha four columns offset-by-one">
				<h4>Billing Address</h4>
                <ul>
                <li>{{skel.bill_firstname}} {{skel.bill_lastname}}</li>
				<li>{{skel.bill_street}}</li>
				<li>{{skel.bill_zip}} {{skel.bill_city}}</li>
				<li>{{skel.bill_country.descr}}</li>
				</ul>
			</div>
			<div class="alpha four columns offset-by-one add-bottom">
			<h4>Shipping Address</h4>
				<ul>
                <li>{{skel.shipping_firstname}} {{skel.shipping_lastname}}</li>
				<li>{{skel.shipping_street}}</li>
				<li>{{skel.shipping_zip}} {{skel.shipping_city}}</li>
				<li>{{skel.shipping_country.descr}}</li>
				</ul>
			</div>
			

    <div class="alpha eleven columns offset-by-one add-bottom"><input id="terms" type="checkbox" name="terms" style="float:left; margin-top:5px; margin-right:10px;"><label for="terms"> I accept the <a href="/static/terms-of-trade.pdf" onclick="showagb(); return false" target="_blank">termes of trade.</a></label></div>

<script language="javascript">
	function trytosubmit() {
		if ($("#terms:checkbox:checked").val()) {
			window.location.href="/order/checkout?step=3&id={{skel.id}}&complete=1";
		} else {
			$("#acceptagbnote").show("slow");
			return false
		}
	}

</script>

    <div id="acceptagbnote" style="display: None; float: left;">
	<span  style="color:#cc0000; font-size: 1.1em;">
			Please confirm the termes of trade to continue the process.
	</span>
	</div>

<hr />

<div class="eight columns alpha"> 
{{showsteps()}}
</div>
<div class="right four columns omega"> 
  <a class="button"  href="javascript:void(0)" onclick="trytosubmit(); return false">
			Submit Your Order
			</a>
	</div>
	
{% endblock %}
