{% extends "index.html" %}
{% set activeitem = "shop" %}
{% from "dynaform.macro" import render_dynaform %}
{% from "ordersteps.macro" import showsteps %}

 {% block headline %}
	<h1 class="remove-bottom shop">
	Your Order: Payment and Shipping
    </h1>
    {% endblock %}

{% block content %}

			<form name="bestform" action="/order/checkout?step=2" method="POST">
    <table class="eight columns offset-by-two alpha" border="0" width="auto">
					{{ render_dynaform( skel ) }}
				</table>
			</form>

<hr />

<div class="eight columns alpha add-bottom"> 
{{showsteps()}}
</div>
<div class="right four columns omega"> 
  <a class="button"  href="javascript:void(0)" onclick="document.bestform.submit()" >
			Next Step
			</a>
	</div>

{% endblock %}
