﻿{% set activeitem="shop" %}
{% extends "index.html" %}

	  {% block headline %}
	<h1 class="remove-bottom shop">
    Your Cart
    </h1>
    {% endblock %}

{% block content %}

	<dl class="square">
  {% for skel in skellist %}
     <dt class="nine columns alpha">{{ skel.name }}</dt><dd class="three columns omega right" style="line-height:1em;"><a class="button small" href="/cart/delete/{{skel.id}}">&ndash;</a><strong>{{skel.amt }}</strong><a class="button small" href="/cart/add/{{skel.id}}">+</a> </dd>
  {%endfor %}
	</dl>
	
  <div class="right twelve columns alpha"> 
  <a class="button" style="margin-top:20px" href="/order/checkout">Checkout</a>
	</div>
{% endblock %}
