{% extends "index.html" %}
{% set activeitem = "shop" %}
{% from "dynaform.macro" import render_dynaform %}
{% from "ordersteps.macro" import showsteps %}
 
 {% block headline %}
	<h1 class="remove-bottom shop">
	Your Order: Shipping address
    </h1>
    {% endblock %}

{% block content %}
<!--<ul>
<li>
          <input id="cbNo" type="checkbox" name="terms" onClick="hideForm();"> Use billing address as shipping address</li>
<li>	         <input id="cbYes" type="checkbox" name="terms"  onClick="showForm();"> Use different shipping address</li>
</ul>

<script language="javascript">
	function showForm() {
		document.getElementById("cbNo").checked = false;
		document.getElementById("cbYes").checked = true;
		document.getElementById("shipform").elements["extrashippingaddress"].value="1";
		$("#showshipadress").show("slow");
	};

	function hideForm() {
		document.getElementById("cbNo").checked = true;
		document.getElementById("cbYes").checked = false;
		document.getElementById("shipform").elements["extrashippingaddress"].value="0";
		$("#showshipadress").hide("slow");
	};


    function trytosubmit() {
        if ($("#terms:checkbox:checked").val()) {
            window.location.href="document.bestform.submit()";
        } else {
            $("#showshipadress").show("slow");
            return false
        }
    }

</script>-->




    <form name="bestform" action="/order/checkout?step=1" method="POST" id="shipform">
    <table class="eight columns offset-by-two alpha" border="0" width="auto">
            {{ render_dynaform( skel ) }}
        </table>
    </form>

<hr />

<div class="eight columns alpha add-bottom"> 
{{showsteps()}}
</div>
<div class="right four columns omega"> 
  <a class="button"  href="javascript:void(0)" onclick="document.bestform.submit()" >
			Next Step
			</a>
	</div>

<!--<script language="javascript">
	if( "{{skel.value.extrashippingaddress}}"=="1" ) {
		showForm();
	} else {
		hideForm();
	};	
</script>-->
{% endblock %}

