{% set activeitem = "shop" %}
{% extends "index.html" %}

##if skel.images
    ##block additionalhead
		<script type="text/javascript" src="/static/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
		<script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.4.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
    ##endblock
##endif

	  {% block headline %}
	<div class="ten columns alpha" style="margin-bottom:10px"><h1 class="remove-bottom shop">
    Shop
    </h1></div>
    <div class="readon two columns omega" style="margin-top:40px; text-align:right;"> <a href="/cart/view">View cart&hellip;</a></div>
    {% endblock %}

{% block content %}		
	
	<div class="four columns alpha" ><img src="{{skel.image.servingurl}}" width="100%" height="auto"/><br />
	
	
	##if skel.images
		<script type="text/javascript">
				var fancybox_options = {
					'padding'			: 5,
					'transitionIn'		: 'elastic',
					'transitionOut'		: 'elastic',
					'type'              : 'image',
					'titlePosition':'inside',
					'changeFade'        : 100
				};
			</script>
		
	More pictures: <br />
		##for image in skel.images
			<a rel="group{{skel.id}}" title="{{skel.images.descr}}" href="{{image.servingurl}}">
                    <img src="{{image.servingurl}}=s64-c" />
			</a>
		##endfor	
		<script type="text/javascript">
			 $("a[rel=group{{skel.id}}]").fancybox(fancybox_options);
		 </script>
	##endif
		 </div>
	
    <ul class="six columns">
    <li><h3>{{skel.subline}}</h3></li>
    <li>{{skel.descr}}</li>
 	<li></li>
    </ul>
    
    <ul class="two columns omega">
    <li><h5>{{skel.price}}&nbsp;Euro</h5></li>
	<li><a class="readon" href="/cart/add/{{skel.id}}">Add to Cart</a></li>
	</ul>
{% endblock %}

