{% set activeitem="shop" %}
{% extends "index.html" %}

  {% block headline %}
	<div class="ten columns alpha half-bottom"><h1 class="remove-bottom shop">
    Shop
    </h1></div>
    <div class="readon two columns omega right" style="margin-top:40px;"> <a href="/cart/view">View cart ({{execRequest("cart/entryCount")}})&hellip;</a></div>
    {% endblock %}

{% block content %}

	<div class="twelve columns alpha" style="margin-bottom:30px;">
		<p>The shop modul features a fully usable category browser and a complete checkout system.</p>
		<hr />
		<h3>{{ path }}</h3><br />
			{% for entry in entries %}
				<div style="margin-bottom:20px" class="three columns
                ##if (loop.index%4)==0
                omega
                ##endif
                ##if (loop.index%4)==1
                alpha
                ##endif
                ">
                	<a href="/product/view/{{entry.id}}/{{entry.name}}"><img src="{{entry.image.servingurl}}" width="100%" height="auto"/></a>
					<h5><a  class="readon" href="/product/view/{{entry.id}}/{{entry.name}}">{{entry.name}}</a></h5>
    			</div>
			{% endfor %}
		<hr />
		<h5>product categories</h5>
		<ul class="square" style="margin-top:20px;">
			{% for subdir in subdirs %}
				<li><a href="/product/list/{{rootNode}}?path={{ updatePath( path, subdir ) }}">{{ subdir }}</a></li>
			{% endfor %}
		</ul>
        <a class="readon" href="/product/list/{{rootNode}}?path={{ updatePath( path, -1 ) }}">category up&hellip;</a>        
	</div>
    
{% endblock %}
