{% extends "index.html" %}

 {% block headline %}
	<h1 class="remove-bottom vi">
	Oh, no! You lost your password!
    </h1>
    {% endblock %}

{%block content%}
{% from "dynaform.macro" import render_dynaform %}
Just enter your EMail and a new password!<br />
We will email you the instructions needed to activate your new password.<br />
<form class="ten columns alpha offset-by-one" action="/user/pwrecover" method="POST">
	<table border="0">
		{{ render_dynaform( skel ) }}
	</table>
        <div class="alpha right ten columns">
	<input type="submit" />
    </div>
</form>

{% endblock %}
