{% extends "index.html" %}

 {% block headline %}
	<h1 class="remove-bottom vi">
	Welcome!
    </h1>
    {% endblock %}

{%block content%}


<div class="nine columns alpha"> 
<p><strong>You are now logged in!</strong></p></div>
<div class="right three columns omega"> 
  <a class="button"  href="/" title="Go on">
			Go on
			</a>
	</div>

{% endblock %}