{% extends "index.html" %}

 {% block headline %}
	<h1 class="remove-bottom vi">
	You registered a new user!  
    </h1>
    {% endblock %}

{% block content %}

	
		
<div class="nine columns alpha"> 
<p><strong>Please confirm your email adress to join the crew!</strong> <br /> We are patiently waiting here!</p></div>
<div class="right three columns omega"> 
  <a class="button"  href="/" title="I'm heading for my email client!">
					I'm heading for my email client!
			</a>
	</div>
			
{% endblock %}
