{% extends "index.html" %}
{% block content %}
	{% if msg == "success" %}
		<h1>Success!</h1>
		You successfully changed your password for {{skel.name}}!
	{% elif msg == "already_send" %}
		<h1>Already send!</h1>
		Within the last 24 hours, we alsend you a email regarding a password-reset for your account or someone logged in within this time.<br />
		Please try again tomorow.
	{% elif msg=="instructions_send"%}
	<h1>Success!</h1>
		We just send you an email with instructions!
	{% elif msg=="invalid_token" %}
		<h1>Invalid Token</h1>
		We couldnt verify your token. Sorry.
	{% else %}
		{{ msg }}
	{% endif %}
{% endblock %}


