{% extends "index.html" %}

 {% block headline %}
	<h1 class="remove-bottom vi">
	Tschüß!
    </h1>
    {% endblock %}

{%block content%}

<div class="nine columns alpha"> 
<p><strong>Junge, komm bald wieder!</strong> <br /> We would like to see you – again.</p></div>
<div class="right three columns omega"> 
  <a class="button"  href="/" title="Continue">
			Continue
			</a>
	</div>


{% endblock %}