{% extends "index.html" %}

 {% block headline %}
	<h1 class="remove-bottom vi">
	You registered a new user!  
    </h1>
    {% endblock %}

{% block content %}

	
		
<div class="nine columns alpha"> 
<p><strong>Thank you for joining the crew!</strong> <br /> We are proud having you here!</p></div>
<div class="right three columns omega"> 
  <a class="button"  href="/" title="Into the Wild">
			Into the Wild
			</a>
	</div>
			
{% endblock %}
