{% extends "index.html" %}

 {% block headline %}
	<h1 class="remove-bottom vi">
	Login
    </h1>
    {% endblock %}

{%block content%}
{% from "dynaform.macro" import render_dynaform %}
{% if loginFailed %}
<font color="red">This didnt work...</font><br />
Invalid username/password.<br />
<br />
 {% endif %}
<form class="ten columns alpha offset-by-one" action="/user/login" method="POST">
	<table border="0">
		{{ render_dynaform( skel ) }}
	</table>
    <div class="alpha right ten columns">
    <input type="submit" />
	</div>
</form><br clear="all">
<em><a href="/user/pwrecover">Forgot your password?</a></em>
{% endblock %}
