{% extends "index.html" %}
	{% block headline %}
	<h1 class="remove-bottom vi">
    Register as new user!
    </h1>
    {% endblock %}

{% from "dynaform.macro" import render_dynaform %}

{% block content %}
<form class="ten columns alpha offset-by-one" action="/user/add" method="POST">
	<table border="0">
		{{ render_dynaform( skel ) }}
	</table>
    <div class="alpha right ten columns">
	<input type="submit" />
	</div>
</form>

{% endblock %}
