{% extends "index.html"%}
{% from "dynaform.macro" import render_dynaform %}
{% block headline %}
	<h1 class="remove-bottom vi">
    Contact 
    </h1>
    {% endblock %}

{% block content %}
	
	<div class="six columns offset-by-one alpha">

        <p>
           You can easily get in touch with us.<br />
           Feel free to write a message!
           <br />
        </p>
            <ul class="vcard">
            <li class="fn">Your Name</li>
			<li class="adr"><span class="street-address">Viurstreet</span><br /><span class="postal-code">12345</span> <span class="locality">Viurcity</span><br /></li>
            <li class="email"><a href="mailto:yourname@email.de">yourname@email.de</a></li>
            <li class="url"><a href="http://www.yourdomain.de" title="yourdomain">www.yourdomain.de</a></li>
            </ul>

        

    </div>	
<form class="four columns offset-by-one omega" name="bestform" action="/contact/add" method="POST">
    <table border="0" >
{{skel}}
		
		
    </tbody></table>
	
	<input type="submit" value="Send" />
</form>
	
{% endblock %} 